/* Customize the scrollbar */

/* For webkit browsers */
.element::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
}

.element::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* For modern browsers */
.element {
    scrollbar-width: thin;
    scrollbar-color: #000000 #F5F5F5;
}

/* Enable smooth scrolling on touch devices */
.element {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
